body{
  font-size:5vw;
  background-color:white;
}
.App {
  text-align: center;
  margin: 0 auto;
  background-color:whitesmoke;
}
#display {
  font-size:5vh;
  text-align: right;
  background-color: white;
  border:solid;
  border-width:1px;
  border-color:grey;
  height: 10vh;
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn-fn {
  background-color:red;
}
.btn-num {
  background-color:pink;
}

.btn-clr{
  background-color:green;
}
#buttons{
  
}
#buttons .button {
  height: 15vh;
  width:  15vw;
  font-size: 5vw;
  border-radius:10px;
  margin: 1px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
